body {
    text-align: center;
    background-color: rgb(34, 34, 34);
    color: white;
    font-family: "Comic Relief", system-ui
}

a {
    color:rgb(255, 255, 255)
}

h1 {
    background-image: linear-gradient(to bottom, red, rgba(0, 102, 255, 0));
}

h3 {
    background-image: linear-gradient(to bottom, red, rgba(130, 25, 11, 0));
}

h4 {
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), rgb(174, 0, 255));
}
